body {
    background-image: url("../images/backgroundg.png");
    font-family: 'Courier New', Arial;
    text-align: center;
}
header {
    background-color: #050d23;
    color: #60a6d3;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-style: ridge;
    border-color: #6722b2;
    border-width: 7px;
}
span {
    color: #32c143;
}
.section {
    display: flex;
    justify-content: center;
}
#lists {
    display: flex;
}
#history
{
    background-color: #050d23;
    color: #60a6d3;
    margin: 20px;
    width: 50%;
    padding: 20px 10px;
    border-style: double;
    border-color: #6722b2;
    border-width: 7px;
}
#development
{
    background-color: #050d23;
    color: #60a6d3;
    margin: 20px;
    width: 50%;
    padding: 20px 10px;
    border-style: double;
    border-color: #6722b2;
    border-width: 7px;
}
#popular
{
    background-color: #050d23;
    color: #60a6d3;
    margin: 20px;
    width: 50%;
    padding: 20px 10px;
    border-style: double;
    border-color: #6722b2;
    border-width: 7px;
}
img {
    margin-top: 20px;
    border-style: solid;
    border-color: #d71db0;
    border-width: 1px;
}